.jumbotron.py-5
  .container
    %h1 Looking for a new Book?
    %h3 Ready to get reading?
    %br
    = link_to 'Get Book Info', books_path, class: "btn basic w-25 fw-bolder py-3"
.container
  .row
    .col-lg-6.pt-3
      %h3.text-decoration-underline Not all books are alike
      %p.fw-lighter.fst-italic
        There are many different genres, from fiction to autobiographies. 
        Some books are serious while others are light hearted and fun. 
    .col-lg-6.pt-3
      %h3.text-decoration-underline Books are important
      %p.fw-lighter.fst-italic
        Books allow readers to travel without using their feet.
        Books give wings to our imagination.