.jumbotron.py-5
  .container
    %h1 Looking for a new Book?
    %h3 Ready to get reading?
    %br
    = link_to 'Get Book Info', books_path, class: "btn btn-primary btn-lg"
.container
  .row
    .col-lg-6.pt-3
      %h3 Not all books are alike
      %p
        There are many different genres, from fiction to autobiographies. 
        Some books are serious while others are light hearted and fun. 
    .col-lg-6.pt-3
      %h3 Books are important
      %p
        Books allow readers to travel without using their feet.
        Books give wings to our imagination.