$info: #1b1b1b;
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white; 
$black: rgb(20, 20, 20);
$blue: #0099ff;

.navbar {
  margin-bottom: 0;
  background: $black;
}

body {
  background: $black;
  color: $white;
  font-family: 'Merriweather', sans-serif;
} 

h1, h2 {
  font-weight: bold;
} 

p {
  background: $black;
  color: $white;
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: $white;
}

a:visited {
  color: $white;
}

.jumbotron {
  background: $blue; 
  color: $white; 
  text-align: center; 
  p {
    color: $white;
    font-size: 26px;
  } 
}

.link {
  color: $white;
}

.btn-primary {
  color: $white;
  background-color: $black;
  border-color: $black;
  margin-bottom: 5px;
}

.text-primary {
  color: $blue;
}

.btn-sm {
  background-color: $white;
  display: inline-block;
}

img, video, audio {
  margin-top: 20px;
  max-width: 80%;
}

caption {
  float: left;
  clear: both;
}

.btn-info {
  color: #ffffff
}

.btn-info {
  color: $white;
  background-color: $blue;
  border-color: $blue;
  margin-bottom: 5px;
}

.pagination {
  color: #0048CD;
  cursor: default;
}
.pagination a, .pagination span, .pagination em {
  padding: 0.2em;
  display: block;
  float: left;
  margin: 5px; 
}
.pagination .disabled {
  color: #999999;
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: $white;
}
.pagination a {
  text-decoration: none;
  color: #105cb6;
}
.pagination a:hover, .pagination a:focus {
  color: $white;
  border-color: #000033; 
}
.pagination .page_info {
  background: #2e6ab1;
  color: $white;
  width: 22em;
  text-align: center; 
}
.pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; 
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .pagination {
  height: 1%; }
*:first-child + html .pagination {
  overflow: hidden; 
}