$info: #1b1b1b;
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white; 
$black: rgb(20, 20, 20);
$blue: #0099ff;

.navbar {
  margin-bottom: 0;
  background: $black;
}

body {
  background: $black;
  color: $white;
  font-family: 'Merriweather', sans-serif;
} 

h1, h2 {
  font-weight: bold;
} 

p {
  background: $black;
  color: $white;
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: $white;
}

a:visited {
  color: $white;
}

.jumbotron {
  background: $blue; 
  color: $white; 
  text-align: center; 
  p {
    color: $white;
    font-size: 26px;
  } 
}

.link {
  color: $white;
}

.btn-primary {
  color: $white;
  background-color: $black;
  border-color: $black;
  margin-bottom: 5px;
}

.text-primary {
  color: $blue;
}

.btn-sm {
  background-color: $white;
  display: inline-block;
}

img, video, audio {
  margin-top: 20px;
  max-width: 80%;
}

caption {
  float: left;
  clear: both;
}

.btn-info {
  color: #ffffff
}

.btn-info {
  color: $white;
  background-color: $blue;
  border-color: $blue;
  margin-bottom: 5px;
}