- content_for :content do
  .jumbotron.text-center.py-5
    %h1.fst-italic Book Info
  .container-fluid
    .row
      .col-12.d-flex.justify-content-center.my-4
        %div
          = yield
      .col-12.text-center
        %p
          .caption.fst-italic
            You can always count on a book to be friendly and welcoming!
          .caption.fst-italic
            Books are okay I guess.
= render template: "layouts/application"